@import "main.scss";

#dashboard {
  margin: 24px auto;
  width: 100%;
}

#dashboard-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#nav {
  height: 36px;  
  display: flex;
  justify-content: space-between;
  align-items: center;
}