@import "main.scss";

#interest-list {
  margin-top: 24px;
}

#interest-list-header {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 12px;
}

#data-table {
  .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}